{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset=utf-8/>
<meta name="author_mail" content="olab@email.su"/>
{% block additional_css %}
{% endblock %}
{% block additional_js %}
{% endblock %}
<title> {% block title %}{% endblock %} Тест блог </title>
<style type="text/css">
#body {
background-color: white;

}
.larges {
font-size: larger;
padding-bottom: 3px;
}

#bg {
        position:fixed;
        z-index: -1;
        top:0;
        left:0; 
        min-width:100%;
        min-height:100%;
}

#header {
 
background-color: #404080 ;


color: white;
text-align: center;
border-bottom: 1px #cccccc solid;
background: -moz-linear-gradient(0deg, #201cb0; 0%,
	#215cd0 100%);
	background: -webkit-linear-gradient(90deg, #201cb0; 0%,
	#215cd0 100%);
	background: -o-linear-gradient(90deg, #201cb0; 0%,
	#215cd0 100%);
	background: -ms-linear-gradient(90deg, #201cb0; 0%,
	#215cd0 100%);
	background: -chrome-linear-gradient(90deg, #201cb0; 0%,
	#215cd0 100%);
	
}
#header h1 {
color: white;;
margin: 20px,0px,20px,0px;
letter-spacing: 0.2em;
text-align: center;
}

#header a{
	background-color: blue;
	border-radius: 4px;
	color: white;
	padding-top: 6px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 6px;
	float: left;
	
	background: -moz-linear-gradient(90deg, #201cb0; 0%,
	#215cd0 100%);
	background: -webkit-linear-gradient(90deg, #201cb0; 0%,
	#215cd0 100%);
	background: -o-linear-gradient(90deg, #201cb0; 0%,
	#215cd0 100%);
	background: -ms-linear-gradient(90deg, #201cb0; 0%,
	#215cd0 100%);
	background: -chrome-linear-gradient(90deg, #201cb0; 0%,
	#215cd0 100%);

	margin-top: 1px;
	box-shadow: 2px 2px 2px hsla(0, 0%, 26.6667%, 0.8);
	text-shadow: 0px 1px black;
	border: 1px solid #bfbfbf;
	}

#header a:hover {
	transform: translate(0px, -10px);
	transition: all 1s ease 0s;
	}

#leftmenu {
	background-color: #c0f0c0;
	float: left;
	padding: 10px;
	}
#leftmenu a {
color: white;
}
#leftmenu ul {

	padding: 0px;
	margin: 0px;
	}
#leftmenu ul li {
	font-size: large;
	list-style-type: none;
	margin: 0px,10px,10px,0px;
	color: white;
	}
#leftmenu ul li a {
	color: white;
	display: block;
	}
#leftmenu ul li.indented {
	color: white;
	margin-top: 20px;
	}
#leftmenu ul li a:link,
#leftmenu ul li a:visited,
#leftmenu ul li a:active,
#leftmenu ul li a:hover {
	text-decoration: none;
	background-color: #a0a0f0;
	border-radius: 8px;
	color: white;
	padding: 30px;
	float: left;
	background: -moz-linear-gradient(90deg, #202080 0%,
	#a0a0f0 100%);
	background: -o-linear-gradient(90deg, #202080 0%,
	#a0a0f0 100%);
	background: -ms-linear-gradient(90deg, #202080 0%,
	#a0a0f0 100%);
	background: -webkit-linear-gradient(90deg, #202080 0%,
	#a0a0f0 100%);
	background: -chrome-linear-gradient(90deg, #202080 0%,
	#a0a0f0 100%);
	margin-top: 30px;
	box-shadow: 5px 5px 5px hsla(0, 0%, 26.6667%, 0.8);
	text-shadow: 0px 1px black;
	border: 1px solid #bfbfbf;
	
	}

#leftmenu ul li a.current:link,
#leftmenu ul li a.current:visited,
#leftmenu ul li a.current:active,
#leftmenu ul li a.current:hover {
	color: #000;
	background-color: #fff;
	}



#main {
	background-color: white;
/*	margin-left: 27%;*/
	border-left: 1px #cccccc solid;
	padding: 10px;
	color: brown;
	}

#main h2, h3,h4,h5,h6 {
color: blue;
}

#main h2:first-child {
	color: white;
	background-color: #8080ff;
	margin: 0px,0px,10px,0px;
	}

#main a:hover {
	transform: translate(5px, 5px);
	transition: all 1s ease 0s;
	}

#footer {
	color: white;
	text-align: right;
	border-top: 1px #ccc solid;
	padding-right: 10px;
	background-color: #101020;
	background: -moz-linear-gradient(90deg, #404080 0%,
	#8080a0 100%);
	background: -o-linear-gradient(90deg, #404080 0%,
	#8080a0 100%);
	background: -ms-linear-gradient(90deg, #404080 0%,
	#8080a0 100%);
	background: -webkit-linear-gradient(90deg, #404080 0%,
	#8080a0 100%);
	background: -chrome-linear-gradient(90deg, #404080 0%,
	#8080a0 100%);
	}
#footer p {
	font-size: smaller;
	font-style: italic;
	}

#content a {
	text-decoration: none;
	/*font: 2.25em /* 36px × 16  'BebasNeueRegular';*/
	background-color: #b01c20;
	border-radius: 8px;
	color: white;
	padding: 30px;
	float: left;
	background: -moz-linear-gradient(90deg, #b01c20 0%,
	#f15c60 100%);
	background: -o-linear-gradient(90deg, #b01c20 0%,
	#f15c60 100%);
	background: -ms-linear-gradient(90deg, #b01c20 0%,
	#f15c60 100%);
	background: -webkit-linear-gradient(90deg, #b01c20 0%,
	#f15c60 100%);
	background: -chrome-linear-gradient(90deg, #b01c20 0%,
	#f15c60 100%);
	margin-top: 30px;
	box-shadow: 5px 5px 5px hsla(0, 0%, 26.6667%, 0.8);
	text-shadow: 0px 1px black;
	border: 1px solid #bfbfbf;
	}

		.wrapper{
			display: grid;
			grid-template-columns: 20vw 1fr 20vw);
			grid-template-rows:180 1fr 120px;		
		}
		.header{
			grid-column: span 12;		
		}
		.menu{
			grid-column: span 3;		
		}
		.content{
			grid-column: span 6;		
		}
		.ads{
			grid-column: span 3;		
		}
		.footer{
			grid-column: span 12;		
		}	
@media screen and (max-width: 572px){
		.header{
			grid-column: span 6;		
		}
		.menu{
			grid-row: 1;
			grid-column: span 6;		
		}
		.content{
			grid-column: span 12;		
		}
		.ads{
			grid-column: span 12;		
		}
		.footer{
			grid-column: span 12;		
		}	
}

@media screen and (max-width: 640px){
		.header{
			grid-column: span 4;		
		}
		.menu{
			grid-row: 1;
			grid-column: span 8;		
		}
		.content{
			grid-column: span 12;		
		}
		.ads{
			grid-column: span 12;		
		}
		.footer{
			grid-column: span 12;		
		}	
}
	

</style>
</head>
<body>

<div class="wrapper">


<div class="header" id="header" role="navigation" >

<a name="gg" style="none" ></a>
<h1>тест блог</h1>

<div id="navi">



<a href="/" > просмотр архива </a>
<a href="/addpost" > новый пост </a>
<!--<a href="../editpost" > изменить пост </a>-->
<a href="/listrss" > лента новостей </a> 
<a href="/addrss" > подписка </a> 
<a href="/admin" > админка </a> 


<div id="form" align="left">
  <form action="../key/" metod="get">

     <input type="search" name="key" size="10">
     <input type="submit" value="Поиск">
</form>
</div>

</div>

</div>

<!-- <div class="content" id="main"> -->
{% block content %}
{% endblock %}
<!-- </div> -->
<div class="footer" id="footer">
<p>Test Blog</p>
</div>
</div>

</body>
</html>