{% extends "base.html" %}
{% load staticfiles %}


{% block content %}


<div class="menu" id="main">
<h2> оформление подписки  </h2>
{% for i in name %}
        <p class="larges"> {{i}}</p>
    {% endfor %}
</div>

<div class="content" id="main">
<h2> пользователь {{ wus }} </h2>
<h3> вы подписаны на авторов: </h3>
{% for auth in aus %}
        <p> {{auth}} <a href="/re/{{auth}}/" > отказаться </a> </p>
    {% endfor %}
    
<h3> вы можете оформить подписку на авторов: </h3>
{% for auth in news %}
        <p> {{auth}} <a href="/po/{{auth}}/" > подписаться </a> </p>
    {% endfor %}    
    
<!--    <form action="../savepost/" metod="get">
    {% for i in form %}
        <p> {{i}}</p>
    {% endfor %}
    <input type="submit" value="Сохранить">
</form>-->

</div>
<div class="ads" id="main">
.
</div>

{% endblock %}
