{% extends "base.html" %}
{% load staticfiles %}


{% block content %}


<div class="menu" id="main">
<h2>новый пост </h2>
{% for i in name %}
        <p class="larges"> {{i}}</p>
    {% endfor %}
</div>

<div class="content" id="main">
<h2> автор {{ wus }} </h2>
    <form action="../savepost/" metod="get">
    {% for i in form %}
        <p> {{i}}</p>
    {% endfor %}
    <input type="submit" value="Сохранить">
</form>

</div>
<div class="ads" id="main">
.
</div>

{% endblock %}
