{% extends "base.html" %}
{% block content %}
<div id="navi">






<a href="../home" > просмотр архива </a>
<a href="../addpost" > новый пост </a>
<a href="../linerss" > лента новостей </a> 
<a href="../addrss" > подписка </a> 

<a href="../logout" > выйти </a> 

<div id="form" align="left">
  <form action="../key/" metod="get">

     <input type="search" name="key" size="10">
     <input type="submit" value="Поиск">
</form>
</div>

</div>

</div>

<div class="menu" id="leftmenu">

<ul>
{% for new in news %}
<li>
<a href="#{{ new.id }}">{{ new.caption}}</a>
</li>
{% endfor %}
</ul>
</div>

<div class="content" id="main">
<h2>просмотр архива</h2> 
{% for new in news %}
<h2> <a name="{{ new.id }}"> {{ new.caption}}</a></h2>

<p>{{ new.memo|safe }}	
</p>
<p align="right">{{ new.timestamp }}</p>
<br>
<a href="#gg" >переход в начало</a>
<br>
<br><br>

{% endfor %}
</div>
<div class="ads" id="main">  
{% for ab in abs %}
<h2> <a name="{{ ab.id }}"> {{ ab.name}}</a></h2>
<br><br><br>
{% if ab.foto %}
	<img src=	"{{ab.foto.url}}" width=100% alt= "{{ab.fotoalt}}" >
	{% else %}
		<i> нет фото  </i>
	{% endif %}
 

<p>{{ ab.memo|safe }}	
</p>

<br>
	{% endfor %}
</div>

{% endblock %}
