{% extends "base.html" %}
{% block content %}


<div class="menu" id="leftmenu">

<ul>
{% for new in news %}
<li>
<a href="#{{ new.id }}">{{ new.caption}}</a>
</li>
{% endfor %}
</ul>
</div>

<div class="content" id="main">

<h2> {{ title }} {{ wus }} </h2> 
{% if new == "old" %}
	<a href="/listrss/ar/" > Пометить все прочитанным </a>
{% endif %}
{% for j in news %}
<h2> <a name="{{ j.id }}" href="/key/?key={{j.caption}}&new={{new}}&id={{j.id}}"> {{ j.caption}}</a></h2>
{% if j.new  %}
	<i> новое </i>
{% endif %}
{{ j.memo|safe }}	

<p align="left"> <i>  {{ j.timestamp }} </i> </p>
<p align="right"> <i> {{ j.author }}</i> </p>

<a href="#gg" >переход в начало</a>

{% endfor %}
</div>
<div class="ads" id="main">  
{% for ab in abs %}
<h2> <a name="{{ ab.id }}"> {{ ab.name}}</a></h2>

 

<p>{{ ab.memo|safe }}	
</p>

<br>
	{% endfor %}
</div>

{% endblock %}
