{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<div class="menu" id="leftmenu">

</div>

<div class="content" id="main">
<h2> пост сохранен </h2>

</div>
<div class="footer">

</div>
{% endblock %}
