{% extends "base.html" %}


<div id="navi">



</div>

</div>
{% block title %}вход{% endblock %}

<div class="menu" id="leftmenu">


</div>

<div class="content" id="main">

{% block content %}
<p>  {{ wus }} </p>
{% if form.errors %}
	<p> Неверное имя или пароль </p>
	{% endif %}

<h2> <a href="/admin/"> войти </a> </h2> 
<!--<div id="form" align="center">
  <form action="" metod="POST">
		{% csrf_token %}
		{{ form.as_p }}
          
     <input type="submit" value="Войти">
     <input type="hidden" name="next" value="{{ next }}">
</form>
</div>-->

{% endblock %}

</div>
<div class="ads" id="main">  
.
</div>


